---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>about me</h1>
		<h2>i am learning how to make my website</h2>
		<p>that's really embarassing if you see this because it's totally not ready, i really shouldn't have published it</p>
	</body>
</html>
