---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 style="
			color: red;
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
			margin-top: 200px;
		">josh's websitess</h1>
	</body>
</html>
